{% load static %}
{% load widget_tweaks %}

<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'authentication/css/register.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <div class="logo_sidebar">
                    <h2 class="logo">
                        <img class="img_logo_sidebar" src="{% static 'authentication/images/logo.png' %}">IMOBI
                    </h2>
                </div>
                <div class="corpo_sidebar">
                    <div>
                        <h2 class="titulo cor_branca">Logar</h2>
                    </div>
                    <div>
                        <p class="cor_branca descricao">As melhores casas</p>
                        <p style="margin-top:-20px" class="cor_branca descricao">Nos melhores preços</p>
                        <br>
                        <br>
                        <a class="btn_login" href="{% url 'register' %}">Cadastre-se</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="area_cadastrar">
                    <h2 class="titulo_area_cadastrar">Entrar</h2>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="text-center alert alert-{{ message.tags }}">{{ message|safe }}</div>
                        {% endfor %}
                    {% endif %}
                    <br>
                    <br>
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        {% render_field form.username class="input_cadastrar" placeholder="Email" %}
                        <br>
                        <br>
                        {% render_field form.password class="input_cadastrar" placeholder="Senha" type="password" %}
                        <br>
                        <input class="btn_cadastrar" type="submit" value="Entrar">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" ></script>
</body>
</html>